.button {
  background-color: blueviolet;
}
.calc-box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: aliceblue;
  grid-template-areas: "a a a a"
                        "b b b b";
}
.prev{
  display: flex;
  grid-area: a;
  justify-content: flex-end;
}
.result{
  display: flex;
  grid-area: b;
  justify-content: flex-end;
}