.button {
  background-color: blueviolet;
}
.calc-box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: aliceblue;
  grid-template-areas: "a a a a"
                        "b b b b"
                        "c d e f"
                        "g h i j"
                        "num num num k"
                        "num num num l"
                        "num num num m";
}